.icon{
    display:block;
    margin:auto;
    width:100px;
    height: 100px;
    filter: invert(100%);
}

.container{
    
    background-color: rgb(32, 31, 31);
    max-width: 1000px;
    /* margin: 10px 130px; */
    height: 60vh;
    width: 67%;
    border: 1px solid rgb(56, 56, 56);
    padding: 30px 35px;
    margin-bottom: 33px;
    margin-right: auto;
    overflow-y: scroll;
    float: right;
    clear: both;


}
.message{
    /* background-color: rgb(128, 187, 154); */
    width: 24%;
    padding: 10px;
    margin:15px 5px ;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
}
.left{
    background-color: rgb(134, 168, 195);
    float:left;
    clear: both;
}
.right{
    background-color: rgb(128, 187, 154);
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: 30px 300px;
    text-align: right;
    max-width: 960px;
    width: 100%;
    

}
#messageInp{
width: 92.5%;
border: 2px solid black;
border-radius: 6px;
height: 34px;

}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    width: 65px;

}

body{
    background-image: linear-gradient(rgb(47, 46, 46),rgb(36, 33, 33)) ;
    height: 100vh;
    
}
.left-msg{
    float: left;
    clear: both;
    margin: -405px 5px;
    padding: 5px 5px;
    display: block;
    width: 26%;
    color: rgb(161, 154, 154);
    font-family: 'Balsamiq Sans', cursive;

}
.line{
    border: 2px solid black;
    color: black;
    margin: 5px 5px;
    margin: 0px -5px;
    border-radius: 10px;
}

